<h1>Enter values for a triangle:</h1>

<form action="/" method="post">
  <label for="input1">Side One:</label>
  <input id="input1" name="input1" type="text">
  <label for="input2">Side Two:</label>
  <input id="input2" name="input2" type="text">
  <label for="input3">Side Three:</label>
  <input id="input3" name="input3" type="text">

  <button type="submit">GO!</button>
</form>
